*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
.card-header{
    padding: 2%;
    background-color: #680817;
    width: 33%;
    border-radius: 10px;
}
.card_body{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    background: #a61f34;
    margin: 0.1%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    width: 90%;
}
.card_body:hover{
    filter: opacity(0.9);
    transform: scale(1.02);
    cursor: pointer;
}
.precio_unitario{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-left: 2%;
}
.precio_unitario_text{
    color: antiquewhite;
}
.card-title{
    color: antiquewhite;
}
.card__body{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 50%;
}
.card_body_text{
    width: 1%;
    color: antiquewhite;
}
.card-text{
    padding: 2%;
}
.card__img{
    max-width: 150px;
    height: 90px ;
    border-radius: 10px;
}
.cantidad{
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 40%;
}
.btn__card{
    margin: 2%;
    font-size: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 0;
    align-content: center;
    width: 10%;
}
#agregar{
    font-family: 'Roboto', sans-serif;
}
@media(max-width: 1199px){
    .card_body{
        flex-flow: column wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    .card-header{
        width: 100%;
    }
    .card__body{
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .btn__card{
        width: 90%;
    }
    .card_body_text{
        margin-right: 26%;
    }
    
}
@media(max-width: 992px){
    .card_body{
        flex-flow: column wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    .card-header{
        width: 100%;
    }
    .card__body{
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .btn__card{
        width: 90%;
    }
    .card_body_text{
        margin-right: 26%;
    }
    
}
@media(max-width: 768px){
    .card_body{
        flex-flow: column wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    .card-header{
        width: 100%;
    }
    .card__body{
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .btn__card{
        width: 90%;
    }
    .card_body_text{
        margin-right: 26%;
    }
    
}