.tabla{
    margin-top: 10%;
    margin-left: 37%;
    width: 100%;
}
.form{
    border: 2px solid #a61f34;
    border-radius: 10px;
    margin-top: 100px;
    background: #680816cc;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    color: antiquewhite;
}
.form__body{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    width: 100%;
}
div label{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 80%;
}
div label input{
    width: 100%;
    color: black;
}
td input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.btn_color{
    color: black;
}
#descripcion{
    margin: 4% 4% 0 0;
}
#cantidad{
    margin-left: 9%;
}
.thTotal{
    width: 10%;
}
.tdTotal{
    width: 10%;
}
.thCantidad{
    width: 10%;
}
.thCantidad{
    width: 10%;
}
.description__data{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.line{
    border: 1px solid grey;
    width: 85%;
    margin: 2%;
}
.btn{
    margin: 2%;
}
.nota_center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}
.total_tot{
    display:flex;
    justify-content: row   wrap;
    align-content: center;
    align-items: center;
}
#total_tot{
    display: flex;
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 1%;
}
@media(max-width: 904px) {
    #direccionLabel{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
}
@media(max-width: 442px) {
    .tabla{
        margin-left: 0;
    }
}
@media(max-width: 442px) {
    .total_tot{
        display:block;
        height: 50px;
    }
    #total_tot{
        display: flex;
        font-weight: 700;
        font-size: 1em;
        margin-left: 1%;
    }
}