@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:wght@300;500;600;700&display=swap');
.app {
  text-align: center;
}
section {
  margin: 100px 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: url("../FondoVial.jpg") no-repeat center center fixed;
  background-size: cover;
}